<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calendario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let cal of calendars" tappable>
        <button 
        ion-button 
        icon-only 
        *ngIf="isAdmin"
        item-start 
        clear 
        (click)="addEvent(cal)">
          <ion-icon name="add"></ion-icon>
        </button>
    
        {{ cal.name }}
        <p>{{ cal.type }}</p>
        <button ion-button icon-only item-end clear (click)="openCal(cal)">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-item>
  </ion-list>
</ion-content>
