<!--
  Generated template for the NrcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cursos de orientación <br> 
      académica
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-vertical>
  <ion-grid *ngIf="NRCs.length <= 0">
    <ion-row>
      <ion-col class="text-center caja-vacia">
        <ion-icon class="icono-grande" ios="ios-sunny" md="md-sunny"></ion-icon>
        <p>No hay ningún curso</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list no-lines>
    <ion-item *ngFor="let curso of NRCs" (click)="nrcTapped(curso)" >
      <ion-card>
        <ion-card-header>
          {{ curso.nombreCurso }}
        </ion-card-header>
        <ion-card-content>
          <strong>Psicólogo: </strong><p>{{ curso.nombreProfesor }}</p>
          <strong>NRC: </strong><p>{{ curso.nrc }}</p>
          <strong>Numero de sesiones: </strong><p>{{ curso.numeroSesiones }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-fab bottom right *ngIf="this.userProvider.loguedUser.admin">
    <button ion-fab (click)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
